

table {
	border: $borderGray;
	table-layout: fixed;
	border-collapse: collapse;
	margin:0;
	padding:0;
}

td {
	border: $borderGray;
	padding: 6px;
}

th {
	background-color: #f0f0f0;
	border: $borderGray;
	padding: 6px;
	text-align:center;
}


input[type="text"] {
	width: 140px;
	box-sizing: border-box;
	height: 28px;
	line-height: 28px;
}
select {
	width: 140px;
	box-sizing: border-box;
	height: 28px;
	line-height: 28px;
}
button {
	width: 140px;
	box-sizing: border-box;
	height: 28px;
}

.footer_buttons button{
	width: 140px;
	height: 32px;
	margin: 6px;
}